[Unit]
Description=application for aquisittion of gamepad.

Want=network.target
After=syslog.target network-online.target


[Service]
Type=simple
ExecStart=/usr/local/bin/gamepad2Server
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
