/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/gpio/gpio.h>

 / {
	// zephyr,user {
	// 	gprs-rst-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	// };

	aliases {
		gprs-rst	= &gprs_rst;

		led0		= &led0;
		
		m1a	= &m1a;
		m1b	= &m1b;
		m2a	= &m2a;
		m2b	= &m2b;
		m3a	= &m3a;
		m3b	= &m3b;
		m4a	= &m4a;
		m4b	= &m4b;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			label = "LED";
		};
	};
	
	gprs {
		compatible = "gpio-leds";
		// compatible = "pico-gpios";
		gprs_rst: gprs_reset{
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			label = "GPRS RESET";
		};
	};
	
	motors {
		compatible = "gpio-leds";
		m1a: m_1a{
			gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
			label = "MOROT1-A GPIO";
		};

		m1b: m_1b{
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "MOROT1-B GPIO";
		};

		m2a: m_2a{
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			label = "MOROT2-A GPIO";
		};

		m2b: m_2b{
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			label = "MOROT2-B GPIO";
		};

		m3a: m_3a{
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			label = "MOROT3-A GPIO";
		};

		m3b: m_3b{
			gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
			label = "MOROT3-B GPIO";
		};

		m4a: m_4a{
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			label = "MOROT4-A GPIO";
		};

		m4b: m_4b{
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "MOROT4-B GPIO";
		};
	};
};





